body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  
  
  .header {
    background-color: #4caf50; /* Vert foncé */
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .gallery {
    margin-top: 20px;
  }
  
  .gallery img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .footer {
    background-color: #4caf50; /* Vert foncé */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }