.repasContainer{
    padding : 6%;
    box-shadow: 0 4px 8px whitesmoke; /* syntax: box-shadow: h-offset v-offset blur spread color; */
    transition: transform 0.3s ease-in-out;
    background-color: rgba(92, 149, 92, 0.532);
}
.repasSubContainer{
    padding : 5%;
    display: flex;
    gap:10%;
    background-color: rgba(92, 149, 92, 0.532);
    
    border-radius: 16px;
}

.repasSubContainer img{
    width : 40%;
    border-radius: 16px;
}
.repasSubContainer p {
    color : white;
    flex: 1;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
  }
.repasSubContainer p h1{
    text-align: center;
  }
  .texte{
    display :flex;
    align-items: center;
  }
  .carte{
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 768px){
    .repasSubContainer{
        padding : 5%;
        display: flex;
        flex-direction: column;
        gap:10%;
        background-color: rgba(92, 149, 92, 0.532);
        border-radius: 16px;
    }
    .repasSubContainer img{
        width : 100%;
        border-radius: 16px;
    }
}